{% extends "base/base.html" %}

{% block title %} AXOLOTL FURNITURE {% endblock title %}

{% block content %}
<h1 style="text-align: center; padding-top: 30px; padding-bottom: 30px;">SOBRE NOSOTROS</h1>
    <div class="container" style="text-align: justify;">
        <div>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    Axolotl Furniture surge como una iniciativa innovadora y fresca, gestada por jóvenes emprendedores que, al identificar las limitaciones en el mercado tradicional de muebles en México, decidieron asumir el desafío de revitalizar este sector. Con una visión audaz y creativa, nuestra empresa se ha comprometido a ofrecer soluciones que vayan más allá de lo convencional, fusionando funcionalidad, estética y calidad en cada uno de nuestros diseños.

                    Nos enorgullece ser agentes de cambio en la industria del mobiliario, apostando por la originalidad y la excelencia en cada pieza que creamos. Buscamos no solo suplir una necesidad, sino también inspirar un cambio de paradigma en la percepción de los muebles, elevándolos a objetos de arte y expresión personal. Nuestra misión es trascender las expectativas del cliente, brindando productos que no solo cumplen con su propósito utilitario, sino que también añaden un toque distintivo a sus espacios.

                    En Axolotl Furniture, fusionamos la tradición con la modernidad, honrando las raíces culturales de México mientras abrazamos las tendencias contemporáneas. Cada pieza es el resultado de un cuidadoso proceso de diseño y fabricación, donde la atención a los detalles y la selección de materiales de calidad son prioritarios. Estamos comprometidos con la sostenibilidad y la responsabilidad social, contribuyendo al bienestar del medio ambiente y la comunidad.

                    Celebramos nuestro primer año de existencia con gratitud hacia aquellos que confiaron en nuestra propuesta visionaria. A lo largo de este emocionante viaje, hemos aprendido, crecido y evolucionado, consolidándonos como un referente en el panorama del mobiliario en México. Miramos hacia el futuro con entusiasmo, listos para seguir transformando espacios y dejando una huella perdurable en la industria del diseño y la decoración. ¡Gracias por ser parte de nuestra historia!
                </div>
              </div>            
        </div>
    </div>
{% endblock content %}